export(as.binary)
export(bin2dec)
export(binAdd)
export(binary)
export("==.binary")
export("!=.binary")
export("[.binary")
export(binPrefix2Byte)
export(Byte)
export(bytesNeeded)
export(dec2bin)
export(fillBits)
export(is.binary)
export(negate)
export(print.binary)
export(rotate)
export(shiftLeft)
export(shiftRight)
export(switchEndianess)
