S3method("!=",binary)
S3method("+",binary)
S3method("-",binary)
S3method("==",binary)
S3method("[",binary)
S3method(as.character,binary)
S3method(as.double,binary)
S3method(as.integer,binary)
S3method(as.raw,binary)
S3method(print,binary)
S3method(rev,binary)
S3method(summary,binary)
export(Byte)
export(Ops.binary)
export(addUpToBit)
export(addUpToByte)
export(as.binary)
export(binAdd)
export(binPrefix2Byte)
export(binSeq)
export(binary)
export(bytesNeeded)
export(is.binary)
export(loadAttributes)
export(negate)
export(rotate)
export(saveAttributes)
export(shiftLeft)
export(shiftRight)
export(switchEndianess)
